.weatherBlock {
    padding: 10px;
}

.title {
    font-size: 15px;
}

.weather {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.block {
    padding: 10px 0;
}

.wind {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wind>div {
    font-size: 14px;
    width: 50%;
}